extends ./layout

block stylesheets
    link(rel="stylesheet", href="#{baseUrl}/stylesheets/calendar.css?#{vCode}")
    link(rel="stylesheet", href="#{baseUrl}/stylesheets/swiper-3.4.1.min.css")
    link(rel="stylesheet", href="#{baseUrl}/stylesheets/detail.css?#{vCode}")
    style.
        #calendar {height:auto}
        .calendar-contnet {padding-top:0}
        .monthPrev{ transform:rotate(180deg); -webkit-transform: rotate(180deg);display:inline-block;}
        .calendar-head ul {text-align:center;clear:both;overflow:hidden;padding:0;}
        .calendar-head ul li {float:left!important;display:block;width:25%;margin:0;line-height:1.5;}
        .calendar-head ul li div {padding:10px 0 5px;min-height:30px;}
        .calendar-head ul li .price {color:#f66;font-family: Arial}
        .calendar-head ul li .month {color:#19a0f0;}
        .calendar-head .today-month {border-bottom:2px solid #19a0f0;}
        .calendar-contnet table td.other .price strong {color:#ccc}
        .calendar-contnet table td.other .price em{color:#ccc}
        .calendar-contnet table td .price em {color:#f66}
        .details-list {width:100%;overflow:hidden;}
        .details-list .pro-price .price {margin-bottom:0}
        .pro-price .disabled {vertical-align: top;display: inline-block;text-align: center;width: 4rem;margin-bottom: .25rem;color: #999; font-size:0.55rem;}   
block javascripts
    script(type='text/javascript', src='#{baseUrl}/javascripts/lib/jquery.route-calendar.js?#{vCode}')
    script(type='text/javascript', src='#{baseUrl}/javascripts/pageItem.js?#{vCode}')
    script.       
        var calanderDate = !{JSON.stringify(calanderDate)};       
    script(type='text/javascript', src='#{baseUrl}/javascripts/ticketStock.js?#{vCode}')
block content
    #calendar
    .page-line
    ul.details-list#inputList            
   
    a.disabled-btn(href='javascript:;',data-id=routeId,data-code=calanderDate.data[0].modelCode).btn#routeSubmit  继续预订                   
