extends ../layout

block stylesheets
    link(href="#{baseUrl}/stylesheets/calendar.css?#{vCode}", rel="stylesheet")
    link(href="#{baseUrl}/stylesheets/swiper-3.4.1.min.css", rel="stylesheet")
    link(href="#{baseUrl}/stylesheets/detail.css?#{vCode}", rel="stylesheet")
    link(href="#{baseUrl}/stylesheets/newDetail.css?#{vCode}", rel="stylesheet")
block javascripts
    script.
        var module = '#{module}',isSpecial='#{isSpecial || "F"}';
        var openSingle = "#{openSingle}";
    if data instanceof Array && data[0].data  
        script. 
            var showCode = '#{data[0].data.code}', saleCorpcode = '#{data[0].data.saleCorpcode}';
    script(src='https://res.wx.qq.com/open/js/jweixin-1.0.0.js')    
    //- script(src='#{baseUrl}/javascripts/jquery.calendar.js?#{vCode}', type='text/javascript')
    script(src='#{baseUrl}/javascripts/lib/jquery.theater-calendar.js?#{vCode}', type='text/javascript')
    script(src='#{baseUrl}/javascripts/swiper-3.4.1.jquery.min.js', type='text/javascript')
    script(src='#{baseUrl}/javascripts/lib/clipboard.min.js', type='text/javascript')
    script(src='#{baseUrl}/javascripts/pageItem.js?#{vCode}', type='text/javascript')
    script(src='#{baseUrl}/javascripts/validate/jquery.validate.min.js', type='text/javascript')
    script(src='#{baseUrl}/javascripts/validate/messages_zh.min.js', type='text/javascript')
    script(src='#{baseUrl}/javascripts/validate/additional-methods.js', type='text/javascript')
    script(src='#{baseUrl}/javascripts/member/comment.js?#{vCode}', type='text/javascript')
    script(src='#{baseUrl}/javascripts/newDetail.js?#{vCode}', type='text/javascript')
    if !inWx
        script(src='#{baseUrl}/javascripts/groupShare.js?#{vCode}', type='text/javascript')    
block content
    include ../common/quickLink
    include ../common/footer
    - const infoData = data instanceof Array && data[0].data ? data[0].data : {};
    - const commentsData = data instanceof Array && data[1].data ? data[1].data : [];
    if(infoData.merchantPictureLibVo)
        - var swiperImg = infoData.merchantPictureLibVo.wapUrl?infoData.merchantPictureLibVo.wapUrl.split(","):[];  
    if swiperImg && swiperImg.length > 0
        .block_home_slider.details-slider1
            .swiper-container.detail-container(id=swiperImg.length > 1 ? 'home_swiper':'')
                ul.swiper-wrapper
                    each item in swiperImg
                        li.swiper-slide
                            img(src='#{item}?imageMogr2/thumbnail/640x/strip/quality/100')
                .swiper-pagination
    .detail-header
        .detail-header-info
            p.detail-header-info-title #{infoData.name}
            if infoData.introduction
                - let msg = infoData.introduction.replace(/<\/?[^>]*>/g, ''); //去除HTML Tag
                - msg = msg.replace(/[|]*\n/, '') //去除行尾空格
                - msg = msg.replace(/&nbsp;/ig, ''); //去掉npsp
                p.detail-header-info-subtitle #{msg}
            .detail-header-info-prices
                span.price ￥
                strong.price #{infoData.lowPrice}~#{infoData.highPrice}
                //- span.qi 起
                del.original-price #{infoData.hignPrice}
                if infoData.salesNum && infoData.salesNum > 0
                    - let salesNum = infoData.salesNum
                    if salesNum > 10000
                        - salesNum = '9999+'
                    span.fr.amonst(style="margin-top:5px;color:#413838") 
                        | 近期销量：
                        em(style="color:#f05b47;font-weight:bold") #{salesNum}
            a.ticket-information(href='#bookingNotice') 购票须知
        //- .detail-header-navigation
            a(href='javascript:;')
                i.xx-icon.icon-daolan
    .page-line
    ul.order-list.myorder-list
      li
        label.lab-title="演出日期："
        -var endDate=infoData.endDate?infoData.endDate.substring(0, 10):''
        -var startDate=infoData.startDate?infoData.startDate.substring(0, 10):''
        .order-item=startDate+'至'+endDate
          
    .page-line
    .detail-module
        .detail-module-title 演出介绍
        .detail-module-content!=infoData.introduction  

    .page-line
    .detail-module
        .detail-module-title 演出详情
        .detail-module-content.detailSummary!=infoData.summary    

    .page-line
    .detail-module#bookingNotice
        .detail-module-title 购票须知
        .detail-module-content!=infoData.bookingNotice
                  
    .page-line
    .detail-module
        .detail-module-title.comment-title
            - var cLen = data[1].data.length
            span 评论（
                em #{cLen}
                |）
            if clen > 4    
                .more.fr
                    a(href='/commentList/'+ module +'/'+infoData.id +'?m_id='+ merchantInfoId) 查看全部
        if  commentsData && commentsData instanceof Array     
            .detail-module-content
                .commit-list
                    if commentsData.length > 10
                        - commentsData = commentsData.splice(0,10)
                    each item in commentsData 
                        - let fDate = '';
                        if  typeof item.createTime === 'string'
                            - fDate = item.createTime.substring(0, 10)
                        - let name=item.userName,len = name ? name.length : 0;
                        if item.isAnonymous === 'T'    
                            //- if len > 2
                            //-     - name = name[0] + '***' + name[len - 1] ;
                            //- else
                            //-     - name = name[0] + '***'; 
                            - name = '匿名评论';             
                        .commit-list-item
                            .commit-list-item-info.clearfix
                                if item.top === 'T'
                                    .user-commit-top.fl 置顶
                                .user-face-img.fl
                                    img(src=item.headImg, alt='')
                                .user-name.fl 
                                    span.user-name__name #{name} 
                                    | &emsp;
                                    span.score.c-base= item.score || 0
                                        | 分         
                                .commit-time.fr
                                    span #{fDate}
                            .commit-list-item-content
                                p #{item.content}
                            if item.beUpdate === 'T'    
                                .commit-list-item-editer.changeMyCommit(data-id=item.id,data-name=item.userName) 
                                    span 修改评论 
                                    i.xx-icon.icon-iconfont-xie     
                            if item.replyContent   
                                .commit-list-item-reply
                                    span 【商家回复】  
                                    span #{item.replyContent}            
        .order-footer
            .order-total.float-layer     
                a(class=infoData.code ? '' : 'disabled-btn', href='javascript:;',data-purchaseDesc=infoData.purchaseDesc)#detailOrderBtn.detail-order.route-detail-order="立即购票"
                if (infoData.isBindQyyx === 'T' && showWholeMarket === 'T') || (openSingle === 'T' && showWholeMarket === 'T')
                    .share-btn.fr#shareBtn(data-newid=infoData.id, data-id=module==='theater'?infoData.theaterShowId:infoData.id, data-iswx=userFrom,data-mold=module)
                        i.icon-qiandai.icon-img
                        .share-btn-text 去赚钱
                    .share-mask
                    .share-content-box#shareContentBox
                        a(href='javascript:;').title
                            | 选择推广方式
                            i.fr.xx-icon.icon-guanbi1#closeContentBox
                        a(data-url='', href='javascript:;').showBillUrl
                            | 生成海报
                        a(data-url='', href='javascript:;', data-title=(infoData.nickName || infoData.name) ).showTextUrl
                            | 生成文案
                        a(data-description=infoData.subtitle,data-img=infoData.linkMobileImg, data-title=(infoData.nickName ||infoData.name) ,href='javascript:;').shareUrl
                            | 链接推广
    #mask
    .billmask
    .mask#noticeMask                                  
    //.show-bill#showBill
    //    i.close-show-bill.xx-icon.icon-guanbi1#closeShowBill
    //    .show-bill-image
    //        img(src='', alt="")
    .show-bill#showBill
        h5.bill-tips 长按海报保存相册
        i.close-show-bill.xx-icon.icon-guanbi1#closeShowBill
        .show-bill-image
            .swiper-container#billSwiper
                .swiper-wrapper
                    //.swiper-slide
                    //    .ss-con
                    //        img(src='http://qyyxstatics.zhiyoubao.com/attached/image/20190819/20190819094856wtqjb7.jpg')
                //.swiper-button-prev
                //.swiper-button-next
    .textmask
    .show-bill.show-bill-text#showText
        i.close-show-bill.xx-icon.icon-guanbi1#closeShowText
        .show-bill-com
            .showbill-tit 生成文案
            .showbill-txt
                textarea#bill_text
            a.showbiil-btn(href='javascript:;')#showTextBtn 复制文案
    //分享弹框
    .sharetip#sharetip        
    .detail-flow.booking-notice-flow#bookingNoticeFlower 
        .booking-notice-titile 购票须知
        .booking-notice-content!=infoData.bookingNotice
            
        .booking-notice-btns
            .agree-notice#agreeNotice 同意
            .disagree-notice#disagreeNotice 不同意

    .detail-flow#detailFlower
        .flow-close#flowClose
            i.xx-icon.icon-guanbi2
        .flow-title 请选择日期
        .flow-timer.clearfix
        .flow-title 请选择场次        
        .flow-lists#flowLists 
                                                 
        .flow-submit
            //- .flow-submit-price.order-total 
                    //- p    
                    //-     span="已选："
                    //-     em#num=0
                    //-     ="份"
                    //- p    
                    //-     span="总额："
                    //-     strong.detail-total-price="￥"
                    //-     em#totalPrice=0
            a.flow-submit-btn.disabled-btn#submitOrder(title="title") 确认选择 
            
    .addressLayer#userEditerInput
        .addressLayer-handle.background-base
            a.userEditer-close#addUserEditerClose(href='javascript:;')
                i.xx-icon.icon-guanbi1
        .layerContent.newAddress(style='display:block;')
            form#form
                .comment-panel
                    p
                        textarea#comment.order-textarea(name='content', rows='10', placeholder='请写下您对我们的感受吧')
                .common-num-box
                    p
                        strong 满意度评分
                        span.pfxtFen
                            i.xx-icon.icon-iconfont-aixin
                            i.xx-icon.icon-iconfont-aixin
                            i.xx-icon.icon-iconfont-aixin
                            i.xx-icon.icon-iconfont-aixin
                            i.xx-icon.icon-iconfont-aixin
                    p
                        label.weui-agree(for='weuiAgree')
                            input#weuiAgree.weui-agree__checkbox(name='isAnonymous',type='checkbox')
                            span.weui-agree__text
                                | 匿名评论
                .btn-handle
                    a#subComment.btn.comment-submit(href='javascript:;') 发表评论      
                
    #calendar-box.calendar-box
        #calendar  
    +flowBtn(userInfo,marketDisAccount,showWholeMarket)   
    - var msg = infoData.summary ? infoData.summary.replace(/<\/?[^>]*>/g, '') : "小鲸商城，旅行购物好平台"; //去除HTML Tag
    - msg = msg.replace(/[|]*\n/, '') //去除行尾空格
    - msg = msg.replace(/&nbsp;/ig, ''); //去掉npsp
    if msg.length > 20
        - msg = msg.substring(0,20) + '...';
    #shareData(data-dec=msg,data-img=infoData.linkMobileImg,data-title=infoData.name)                                                                         